

.hero {
    background-image: url('../SliderImg/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 320px;
    height: 300px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__header {
    color: white;
    text-shadow: black 3px 2px 2px;
    text-align: center;
    letter-spacing: 4px;
    font-size: 40px;
}

@media only screen and (min-width: 375px) {
    .hero {
        width: 375px;
        height: 300px;
    }
}

@media only screen and (min-width: 425px) {
    .hero {
        width: 425px;
        height: 300px;
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        width: 768px;
        height: 350px;
    }
}

@media only screen and (min-width: 1024px) {
    .hero {
        width: 1024px;
        height: 500px;
    }
}

@media only screen and (min-width: 1440px) {
    .hero {
        width: 1440px;
        height: 650px;
    }
}