.form__box {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.submit__button {
    background-color: grey;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit__button:hover {
    background-color: white;
}

.contact__container {
    background-color: black;
    color: white;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 200px;
}

#error_message {
    margin-bottom: 20px;
    background: pink;
    color: black;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}

body {
    background-color: black;
    color: pink;
}

