/*footer*/

footer {
    background-color: black;
    bottom: 0px;
    width: 100%;
 
  }
  .media img {
    height: 30px;
    width: 30px;
    border-radius: 11px;
  }
  
  
  .media {
    text-decoration: none;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 20px;
  }
  
  #logo-footer {
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    color: pink;
    text-decoration: none;
    padding: 2px;
  }
  
  .copy {
    text-align: center;
    color: pink;
    margin: 0;
    padding: 25px 0 15px 0;
  }
  
 

  @media only screen and (min-width: 375px) {
    footer {
        width: 375px;
      }
  }

  @media only screen and (min-width: 425px) {
    footer {
        width: 425px;
      } 
  }

  @media only screen and (min-width: 768px) {
    footer {
        width: 768px;
      }
  }

  @media only screen and (min-width: 1024px) {
    footer {
        width: 1024px;
      }
  }

  @media only screen and (min-width: 1440px) {
    footer {
        width: 1440px;
      }
  }

  @media only screen and (min-width: 2560px) {
    footer {
        width: 2560px;
      }
  }