/* navBar */
* {
    font-family: 'Poppins', sans-serif;
  }
  
  .nav li {
    display: flex;
    list-style: none;

  }
  
  .nav li a {
    text-decoration: none;
    color: #0d0d0d;
    font-size: larger;
  }
  
  .nav,
  ul,
  li,
  a {
    background-color:rgb(7, 98, 74);
  
  }
  
  .navHome {
    display: grid;
    grid-template-columns: 42.7% 30% 13% 10%;
  }
  #logo {
width: 300px;

  }
  

  /* Creating a active class */
  
  #navbar ul li a:hover, #navbar ul li a.current {
    background: #444;
    color: rgb(230, 47, 138);
  }

  @media only screen and (min-width: 375px) {
    #navbar {
      width: 375px;
    }

    #navbar h1 {
      font-size: 25px;
      
    }

    #navbar ul {
      font-size: 15px;
    }
  }

  @media only screen and (min-width: 425px) {
    #navbar {
      width: 425px;
    }

    #navbar h1 {
      font-size: 25px;
    }

    #navbar ul {
      font-size: 15px;
    }
  }


  @media only screen and (min-width: 768px) {
    #navbar {
      width: 768px;
    }

    #navbar h1 {
      font-size: 30px;
    }

    #navbar ul {
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 1024px) {
    #navbar {
      width: 1024px;
    }

    #navbar h1 {
      font-size: 30px;
    }

    #navbar ul {
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 1440px) {
    #navbar {
      width: 1440px;
    }

    #navbar h1 {
      font-size: 30px;
    }

    #navbar ul {
      font-size: 20px;
    }
  }
  
  @media only screen and (min-width: 2560px) {
    #navbar {
      width: 2560px;
    }

    #navbar h1 {
      font-size: 30px;
    }

    #navbar ul {
      font-size: 20px;
    }
  }
