/* navBar */

#navbar {
    background: black;
    color: pink;
    overflow: auto;
    width: 320px;
  }
  
  #navbar a {
    color: pink;
    border-radius: 1rem;
  }
  
  #navbar h1 {
    float: left;
    padding-top: 10px;
    text-shadow: red 3px 2px 2px;
    text-align: center;
    font-size: 20px;
  }
  
  #navbar ul {
    list-style: none;
    float: right;
    font-size: 10px;
  }
  
  #navbar ul li {
    float: left;
  }
  
  #navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }
  
  /* Creating a active class */
  
  #navbar ul li a:hover, #navbar ul li a.current {
    background: #444;
    color: pink;
  }

  @media only screen and (min-width: 375px) {
    #navbar {
      width: 375px;
    }

    #navbar h1 {
      font-size: 25px;
    }

    #navbar ul {
      font-size: 15px;
    }
  }

  @media only screen and (min-width: 425px) {
    #navbar {
      width: 425px;
    }

    #navbar h1 {
      font-size: 25px;
    }

    #navbar ul {
      font-size: 15px;
    }
  }


  @media only screen and (min-width: 768px) {
    #navbar {
      width: 768px;
    }

    #navbar h1 {
      font-size: 30px;
    }

    #navbar ul {
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 1024px) {
    #navbar {
      width: 1024px;
    }

    #navbar h1 {
      font-size: 30px;
    }

    #navbar ul {
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 1440px) {
    #navbar {
      width: 1440px;
    }

    #navbar h1 {
      font-size: 30px;
    }

    #navbar ul {
      font-size: 20px;
    }
  }
  
  @media only screen and (min-width: 2560px) {
    #navbar {
      width: 2560px;
    }

    #navbar h1 {
      font-size: 30px;
    }

    #navbar ul {
      font-size: 20px;
    }
  }
