.grid-containers{
    display: grid;
    grid-template-rows: auto;
    height: 300rem;
    width: 320px;
    padding: 60px 60px;
    background-color: black;
  }

  .grid-containers img {
      height: 200px;
      width: 200px;
  }

  @media only screen and (min-width: 375px) {
    .grid-containers{
      width: 375px;
      height: 300rem;
    }
  }

  @media only screen and (min-width: 425px) {
    .grid-containers{
      width: 425px;
    }
    .grid-containers img {
      height: 200px;
      width: 290px;
    }
  }

  @media only screen and (min-width: 768px) {
    .grid-containers{
      grid-template-rows: auto;
      width: 760px;
    }
    .grid-containers img {
      height: 300px;
      width: 400px;
    }
  }

  @media only screen and (min-width: 1024px) {
    .grid-containers{
      grid-template-columns: auto auto auto;
      grid-column-gap: .5rem;
      height: 120rem;
      width: 1024px;
    }

    .grid-containers img {
        height: 200px;
        width: 300px;
    }
  }

  @media only screen and (min-width: 1440px) {
    .grid-containers{
      display: grid;
      grid-column-gap: 1.5rem;
      grid-template-columns: 20rem 20rem 20rem 20rem;
      height: 90rem;
      width: 1440px;
      
    }

    .grid-containers img {
        height: 250px;
        width: 300px;
    }
  }